@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

@font-face {
    font-family: VBI;
    src: url(./fonts/vipnagorgialla\ bd\ it.otf);
}

@font-face {
    font-family: VRI;
    src: url(./fonts/vipnagorgialla\ rg\ it.otf);
}

@font-face {
    font-family: EMI;
    src: url(./fonts/exo.medium-italic.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.ff {
    font-family: VRI;
    font-weight: bold;
    font-style: bold italic;
    font-size: 3rem;
}

.header p {
    font-size: 1.7rem;
    width: 70%;
}

.header button {
    margin: 10px;
    padding: 5px;
    border: none;
    outline: none;
    background: rgb(120, 201, 228);

}

#header {
    background-image: url(imagesPr/ImageEarths.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 25rem 5rem;
    /* transform: rotate(1deg); */
}

.header .max-width {
    margin-top: -50px;
}

/* all Common codes */
.max-width {
    max-width: 80%;
    padding: 0 80;
    margin: auto;
}

section {
    padding: 100px 0;
}

.whyPr .Pr-content,
.contact .contact-content,
.footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.text {
    font-family: EMI;
    font-size: 32px;
}

.sm-text {
    font-family: Exo;
    font-size: 16px;
    font-weight: lighter;

}

/* Footer  */
.footer {
    position: relative;
}

.blurTwo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    z-index: -1;
}

.mt {
    margin-top: 20px;
}

ul li {
    list-style: none;
}

.footer-content .bd {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}

.profile {
    margin: 10px;
}

.profile-content {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.round {
    width: 50px;
    border-radius: 50%;
    margin: 0 5px;
}

/* Footer ends here */

/* Why pr */

.whyPr {
    position: relative;
}

.blurOne {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    z-index: -1;
}

.whyPr .Pr-content {
    justify-content: center;
}

.card {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 10px;
    text-align: center;
}

/* Create four equal columns that sits next to each other */
.box {
    -ms-flex: 33%;
    /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 10px;
}

.box img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.side {
    float: left;
}

/* Why pr ======= end */




/* Contact */

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contactpic {
    width: 600px;
}

.column {
    text-align: center;
}

.contact .contact-content .left {
    width: 50%;
}

.contact .contact-content .left .contact-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    width: 350px;
    padding: 30px;
}

.contact .contact-content .right h2 {
    text-align: center;
}

.contact .contact-content .column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-form .fields {
    width: 300px;
    background: transparent;
    color: #fff;
    border: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    margin: 10px 0px 30px 0;
    outline: none;
}

.contact-form label {
    margin: 0 -10px;

}

.contact-form .submit {
    padding: 6px 0;
    width: 100%;
}

.contact .max-width {
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px 80px;
}

/* Contact ========= end */

/* media queries here  */

@media screen and (max-width: 991px) {
    .header p {
        font-size: 1.5rem;
        width: 90%;
    }

    .box {
        -ms-flex: 50%;
        /* IE10 */
        flex: 50%;
        max-width: 50%;
        padding: 0 4px;
    }

    .contact .max-width {
        border: 2px solid white;
        border-radius: 15px;
        padding: 20px 80px;
    }

    .contact .contact-content .column {
        width: calc(100% - 30px);
    }

    .blurOne {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    .blurTwo {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        z-index: -1;
    }
}

@media screen and (max-width: 768px) {
    .header p {
        font-size: 1.2rem;
    }

    .contactpic {
        width: 400px;
    }

    .footer .footer-content {
        flex-direction: column;
    }

    .footer-content li {
        margin: 10px 0;
    }
}

@media screen and (max-width: 570px) {
    .ff {
        font-size: 36px;
    }

    .box {
        -ms-flex: 100%;
        /* IE10 */
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
    }

    section {
        padding: 50px 0;
    }

    /* .contact .contact-content .left .contact-form {
        width: ;
        padding: 30px;
    } */
}

@media screen and (max-width: 450px) {
    section {
        padding: 25px 0;
    }

    #header {
        padding: 10rem 24px;
    }

    .whypr {
        padding: 0 24px;
    }

    .max-width {
        max-width: 100%;
        padding: 10px 12px;
        margin: 0;
    }

    .contact .max-width {
        margin: 10px;
    }

    .contact .contact-content .left .contact-form {

        width: 300px;
        padding: 30px;
    }

    .contact-form .fields {
        width: 250px;

    }

    .whyPr .Pr-content,
    .contact .contact-content,
    .footer .footer-content {
        justify-content: space-around;
    }

    ul li {
        margin: 8px 5px;
    }

    .contactpic {
        width: 300px;
    }
}