@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

@font-face {
    font-family:VBI ;
    src: url(./fonts/vipnagorgialla\ bd\ it.otf);
}
@font-face {
    font-family:VRI ;
    src: url(./fonts/vipnagorgialla\ rg\ it.otf);
}
@font-face {
    font-family:EMI ;
    src: url(./fonts/exo.medium-italic.otf);
}
*{
    margin: 0%;
    padding: 0%;
}
html{
font-size: 62.5%;
}
body{
position: relative;
overflow-y: scroll;
position: sticky;
font-family: EMI;
   background: #02020E;  
    
    background-repeat: no-repeat;
   
}

.gifadd{  
   
    background-image: url("./static/EarthImage.png");
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 70%;
   
}

.navbar{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2.306rem;
    top: 0%;
    cursor: pointer;
}
.rightnav{
    font-family: VBI;
    position: fixed;
    padding-right: 74rem;
    color: white;
     width: 76.9rem; 
     padding-top:3rem;
     font-size: 3rem;
    font-weight: 900;
     
}
.navlist{
width: 76.9rem;
display: flex;
text-align: center;
padding-top: 2.306rem;
padding-left: 80.759rem;
}
.navlist li{
      list-style: none;
      font-size: 2rem;
}
.navlist li a {
    text-decoration: none;
}
.navlist li a:hover {
    color:rgb(95, 107, 83);
}
.showsidemenu{
    font-size: 4rem;
    color: white;
   background: transparent;
   border: none;
}
.sidemenu{
    display:block;
height: 100%;
width: 20%;
position: fixed;
top: 0%;
right: 0%;
z-index: 1;
padding-top: 10%;
overflow-x: hidden;
background: linear-gradient(skyblue,blue);
margin-top: 0%;
text-align: center;
border-bottom-left-radius: 20px;
border-top-left-radius: 40px;

}
.sidemenu li {
    list-style: none;
    margin-top: 30px;
    
}
.dasbtn{
    border: 1px solid white;
    border-radius: 3px;
    padding:2px 4px;
}
.sidemenu a{
color: white;
font-size: 20px;
margin-top: 20px ;
text-decoration: none;
}
.sidemenu .hidesidemenu{
    position: absolute;
    top: 4%;
    left: 70%;
    font-size: 50px;
    border: none;
    background: transparent;
    color: white;
}
.Register
{
    margin-top: 2rem;
}
.PRIntern{
  margin-top: 2rem;
}
.Register a{
color: white;
border: 0.1rem solid white;
padding: 0.2rem 2rem;
border-radius: 0.5rem;
}
.PRIntern a{
    color: white;
}
.menubar{
    color: white;
}
 
    .arrow{
        padding-top: 24rem;
    }
    .arrow img{
    width: 40rem;
    
    }
    .logo1{
        position: relative;
        margin-top: 2.73rem;
    }
    .logo1 img{
        margin-left: 33rem;
        background: transparent;
    }
    .firstsection{
        display: flex;
        justify-content: center;
        text-align: right;
        height:70vh;
    }
    .leftlogo1{
        max-width: 35.4453rem;
        position: absolute;
        top: 12rem;
        right: 36rem;
    }
    .rightlogo1{
        mix-blend-mode: lighten;
        width: 60%;
        overflow: hidden;
    }
    .text1{
       position: absolute;
       top: 23.2rem;
       left: 2rem;
       text-align: left;
    }
    .text1 h1{
        font-family: VBI;
        color: white;
        font-size: 3.3rem;
    }
    .text1 p{
        font-size: 1.3rem;
        color: white;
    }

    
   .text1 li{
     width: 13rem;
     list-style: none;
     background: cornflowerblue;
     border-radius: .6rem;
     text-align: center;
     
   }
   .text1 li a{
       
       color: white;
       text-decoration: none;
       font-size: 1.5rem;
   }

 .second{
    background: linear-gradient(180.89deg, rgba(61, 72, 93, 0) 7.07%, rgba(44, 72, 126, 0.189266) 14.36%, rgba(26, 72, 163, 0.394602) 22.28%, rgba(1, 72, 215, 0.69) 33.66%, #00349C 43.97%, #102C66 63.59%);
    };
    
    .navlist{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 4% 0%;
    }
    .navlist li{
        list-style: none;
        padding:0% 6%;
    }
    .navlist h3{
        padding: 0% 6%;
    }
    .navlist li a{
        text-decoration: none;
    }
    .middle{
        margin-top: 25rem;
       display: flex;
       justify-content: center;
       text-align: left;
       padding-top: 14rem;
       padding-bottom: 20rem;
    }
    .text{
        margin-left: 5rem;
        margin-right: 4rem;
        margin-top: 5rem;
    }
    .bold {
        font-size: 3rem;
        font-family: VBI;
        color: white;
    }
    .text p{ 
        font-size: 1.3rem;
        
        padding-top: .2rem;
      color:white;
      padding-bottom: 0.8rem;
    }
    
    .text h4{
        font-size: 1.5rem;
        color: lightgreen;
        margin-bottom: 1.5rem;
    }
    .Explore{
        margin-top: 1.7rem;
        margin-right: 1rem;
        font-family: EMI;
        color: white;
        background:linear-gradient(blue,skyblue);
        height: 2.8rem;
        width: 15rem;
        border-radius: .5rem;
        border: none;
    }
    .aboutus{
        margin-top: 1.7rem;
        font-family: EMI;
        color: white;
        background: transparent;
        height: 2.8rem;
        width:8rem ;
        border-radius: .5rem;
        border: .1rem solid white;
    }
    .logoimage{
        position: relative;
        margin-right: 4rem
    }
    .logoimage img{
        width: 40rem;
        height: 25rem;
        border: 2px solid black;
        border-radius: 7rem;
        margin-left: 10rem;
    }
    .featurevideo{
        
        margin-top: 1rem;
        font-size: 2.5rem;
        color: white;
        position: absolute;
        margin-left: 40rem;
    }
    .featurevideo img{
        height: 11rem;
        margin-top: 4rem;
        margin-left:9rem ;
    }
    .featurevideo h3{

    }
    h2 {
        font-family: EMI;
        display: flex;
        flex-direction: row;
    }
      
    h2:before,
    h2:after {
        content: "";
        flex: 1 1;
        border-bottom: .1rem solid lightgreen;
        
        margin-bottom: 1.5rem
    }
    h2:before{
     margin-right: 5rem;
    }
    h2:after{
        margin-left: 5rem;
    }
    .sponser{
        color: white;
        font-size: 1.5rem;
        width: 90rem;
        margin-left: 18rem;
        border-bottom: .1rem solid white;
    }
    .sponsericons img{
        margin: 7rem 9rem;
    }
    .icons{
        width: 90rem;
        color: white;
        display: flex;
        margin-left: 16rem;
        padding: 2rem 2rem;
        
    }
    .mediaicons{
     margin-left: 6rem;
    }
    .icons img{
        height: 2.5rem;
        margin: 0% .5rem ;
        padding-top: .2rem;
        opacity: 0.6;
    }
    .copyright{
        margin-left: 2rem;
        font-size: 1.3rem;
    }
    .community{
        font-family: EMI;
        background: transparent;
        height: 2.7rem;
        margin: 0% 11rem;
        padding: 0rem 1rem;
        border-radius: 5px ;
        color: white;
    }
    
    
   
    
    
 @media screen and (max-width: 1100px) {
        html,body
        {    
            margin: 0%;
            padding: 0%;
            font-size: 60%;
            overflow-x: hidden;
        }
        .navbar{
            
            display: inline;
        }
        .navlist {
            width: 80%;
            padding-left: 25%;
            text-align: center;
            margin-bottom: 3rem;
        }
        .rightnav{
            position: static;
            margin-top: 7rem;
            width: 22%;
            margin-left: 40%;
        }
        
        .logo1{
            margin-right: 0rem;
        }
        .rightlogo1{
            width: 30rem;
            margin-right: 13rem;
        }
        .leftlogo1{
            width: 30rem;
        top: 15rem;
        right: 18rem;
        
       }
       .text1{
        top: 24.5rem;
        left: 12.5rem;
        text-align: left;
     }
     
     .firstsection{
         width: 105%;
     }
       .arrow{  
        position: absolute;
        top: 30rem;
        left: 0rem;
        
    }
    
    
    
        .middle{
            text-align: center;
            display: inline;
            margin-top: 5rem;
            margin-left: 0rem;
            padding-bottom: 10rem;
        }
        .logoimage{
            width: 50%;
            margin-left: 25%;
            margin-right: 10%;
            margin-bottom: 5%;
        }
        .logoimage img {
            margin-left: 5rem;
            position: relative;
            width: 80%;
        }
        .featurevideo{
            top: 51%;
            right: 46%;
         }
         .featurevideo img{
             margin-top: 7%;
             margin-left: 42%;
             height: 15rem;
         }
         .featurevideo h3{
             font-size: 2.5rem;
         }
        .text{
            margin-bottom: 10%;
            margin-left: 9%;
            margin-top: 0px;
            
        }

        .sponser{
            text-align: center;
            font-size: 2rem;
            width: 80%;
            margin-left: 10%;
            border-bottom: .2rem solid lightgreen;
        }
        .icons{
            display: inline;
            text-align: center;
        }
        .copyright{
            position: relative;
            margin-right: 60%;
            margin-top: 3rem;
            font-size: 1.9rem;
        }
        .community{
            position: absolute;
            height: 5rem;
            width: 18rem;
            margin-left:65% ;
            margin-top: -4rem;
        }
        .mediaicons{
            margin-left: -2%;
            margin-top: 3rem;
        }
        .mediaicons img{
            width: 3rem;
            height: 5rem;
            padding: 2rem;
        }
        
    }@media screen and (max-width: 980px) {
        html,body
        {    
           
            width: 100%;
            margin: 0%;
            padding: 0%;
            font-size: 55%;
            overflow-x: hidden;
        }  
        .rightnav {
            margin-top: 7rem;
            width: 32%;
            margin-left: 33%;
        }
        .navlist {
            width: 80%;
            padding-left: 21%;
            text-align: center;
            margin-bottom: 3rem;
        }
        .featurevideo{
            right: 45%;
            top: 53%;
        }
      
    }
    @media screen and (max-width: 833px)
    {
        .sidemenu{
            width: 35%;
        }
        .arrow img{
          width: 30rem;
        }
        .logoimage{
            width: 60%;
            margin-left: 20%;
        }
       .featurevideo{
           top: 52%;
       }
    }
    @media screen and (max-width: 600px) {
        html,body
        {    
           
            width: 100%;
            margin: 0%;
            padding: 0%;
            font-size: 45%;
            overflow-x: hidden;
        }
        
        .sidemenu .hidesidemenu{
            
            top: 0%;
        }
        
        
        .rightnav {
            width: 45%;
            margin-left: 23%;
        }
        .navlist {
            padding-left: 15%;
            margin-bottom: 3rem;
        }
        
        .arrow img{
            width: 30rem;
        }
        
        .logo1{
            margin-right: 0rem;
        }
        .rightlogo1{
            width: 30rem;
            margin-right: 13rem;
        }
        .leftlogo1{
            width: 30rem;
        top: 15rem;
        right: 18rem;
        
       }
       .featurevideo{
           top: 54%;
       }
       .Explore{
           width: 18rem;
       }
       .logoimage{
           width: 80%;
           margin-left: 10%;
       }
    }
    @media screen and (max-width: 430px) { 
         .featurevideo{
             top: 46%;
         }
    }
    @media screen and (max-width: 350px) {  
        html,body
        {    
            
            margin: 0%;
            padding: 0%;
            font-size: 45%;
            overflow-x: hidden;
        } 
        .featurevideo{
            top: 44%;
            right: 45%;
         }
         .rightnav{
             width: 50%;
             margin-left: 20%;
         }
         .logoimage{
            width: 90%;
            margin-left: 5%;
        }
        .featurevideo{
            right: 40%;
        }
    
    }
  