*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
@font-face {
    font-family:VBI ;
    src: url(./fonts/vipnagorgialla\ bd\ it.otf);
}
@font-face {
    font-family:VRI ;
    src: url(./fonts/vipnagorgialla\ rg\ it.otf);
}
@font-face {
    font-family:EMI ;
    src: url(./fonts/exo.medium-italic.otf);
}
.hero{
     
    background: black;
    height: 100%;
    width: 100%;
    background-image:url(image1.png);
    mix-blend-mode: lighten;
    background-position: center;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}
.logo img{
    height: 100%;
    width: 70%;
}

.logo{
    padding-top: 20%;
    padding-left: 23%;
    position: relative;
}
.lastsignup{

}
.form-box{
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(42px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 5%;
    transform: rotate(90deg);
   
    color:white;
    width: 30%;
    height: 87%;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    position: absolute;
    padding: 5px;
    overflow: hidden;
    border-width: 5px;
    border-radius: 20px;
    border: 2px solid lightgreen;
}
.form-box h1{
    margin-top: 10%;
    font-family:VBI;
    text-align: center;
    font-size: 27px;

}
.tagline{
    font-family:EMI;
    text-align: center;
    font-size: 11px;

}
a{
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px ;
}
a:hover{
    background: linear-gradient(to right, blue);
    
    color: black;
}
.botton-box{
    width: 60%;
    margin-left: 20% ;
    margin-top: 5%;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    
    border-bottom: 1px solid white;
}
.lastsignup{
    font-size: 17px;
    margin-top: 8%;
   margin-left: 14%; 
   margin-bottom: 7px;
}
.previous{
    margin-right: 40%;
    font-size: 12px;
}
.next{
    font-size: 12px;
}
.toggle-btn{
    color: white;
    padding: 5% 15%;
    background: transparent;
    border: none;
    outline:none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 55%;
    height: 100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: 0s;
}

.input-group{
    top: 30%;
    position: absolute;
    width: 75%;
    margin-left: 4%;
    margin-right: 10%;
    transition: 0s;
}
.input-group p{
    margin-top: 8%;
    font-size: 12px;
}
.forget{
    text-align: right;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 12px;
}
.box{
    border: 1px solid white; 
    padding-left: 10%;
    border-radius: 5px;
    
}
.input-field{
    
    width: 80%;
    padding: 6px 0;
    margin: 0px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    font-family: EMI;
    font-size: 13px;
    width: 50%;
    padding: 8px 15px;
    cursor: pointer;
    display: block;
    background: blue;
    border: 0;
    outline: none;
     
}
.checkbox{
    margin: 20px 5px 15px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 47px;
    position: absolute;
}
.previous{
    color: white;
   
}
.next{
    color: white;
    
}
#login{
    left: 8%;
}
#signup{
  right: 425px;  
}

    

@media screen and ( max-width: 1200px) {
    html,body
        {    
           
            width: 100%;
            margin: 0%;
            padding: 0%;
            font-size: 45%;
            overflow-x: hidden;
        }
    .logo img{
        height: 150%;
        width: 90%;
      
    }
    
    .logo{
        padding-top: 30%;
        padding-left: 8%;
        position: relative;
    }
    .form-box{
          
        width: 40%;
        height: 88%;
        top: 57%;
        left: 50%;
        padding: 5px;
       
    }
    .input-group {
        top: 33%;
        position: absolute;
        width: 80%;
        margin-left: 3%;
        margin-right: 15%;
        transition: 0s;
    }
    .lastsignup{
    font-size: 17px;
    margin-top: 3%;
    margin-left: 20%;
    margin-bottom: 7px
    }
    
    
}

@media screen and ( max-width: 1000px) {
    
    html,body
        {    
           
            width: 100%;
            margin: 0%;
            padding: 0%;
            font-size: 45%;
            overflow-x: hidden;
        }
    .logo{
        padding-top: 30%;
        padding-left: 8%;
        position: relative;
    }
    
    .form-box{
          
            width: 46%;
    height: 87%;
    top: 58%;
    left: 50%;
       
    }
}
@media screen and ( max-width: 800px) {
    
    html,body
        {    
           
            width: 100%;
            margin: 0%;
            padding: 0%;
            font-size: 45%;
            overflow-x: hidden;
        }
    .logo{
        padding-top: 36%;
        padding-left: 8%;
        position: relative;
    }
    .form-box{
          
        width: 62%;
        height: 95%;
        top: 59%;
        left: 50%;
       
    }
    .input-group {
        top: 30%;
        position: absolute;
        width: 80%;
        margin-left: 0%;
        margin-right: 15%;
        transition: 0s;
    }
    .lastsignup{
        margin-top: 2%;
        margin-left: 18%;
        margin-bottom: -4px;
    }
}
@media screen and ( max-width: 600px) {
.lastsignup{
    margin-left: 10%;
}
.input-group {
    top: 33%;
    position: absolute;
    width: 80%;
    margin-left: 3%;
    margin-right: 15%;
    transition: 0s;
}
.botton-box{
    width: 70%;
}

}
@media screen and ( max-width: 540px) {
    
    html,body
        {    
           
            width: 100%;
            margin: 0%;
            padding: 0%;
            font-size: 45%;
            overflow-x: hidden;
        }
        .botton-box{
            width: 70%;
        }
    .logo{
        padding-top: 53%;
        padding-left: 8%;
        position: relative;
    }
    .form-box{
        width: 70%;
        height: 82%;
        top: 55%;
        left: 50%;
       
    }
    .botton-box{
        margin-left: 15%;
    }
    .lastsignup{
       font-size: 14px;
       margin-left: 14%;
    }

    
}
@media screen and ( max-width: 440px) {
    
    html,body
        {    
           
            width: 100%;
            margin: 0%;
            padding: 0%;
            font-size: 45%;
            overflow-x: hidden;
        }
        .botton-box{
            width: 75%;
            margin-left:12% ;
        }
    .logo{
        padding-top: 13%;
        width: 109%;
        padding-left: 0%;
        position: relative;
    }
    .form-box{
        width: 84%;
        height: 80%;
        top: 58%;
        left: 50%;
       
    }
}
@media screen and ( max-width: 390px) {
    
    html,body
        {    
           
            width: 100%;
            margin: 0%;
            padding: 0%;
            font-size: 45%;
            overflow-x: hidden;
        }
        .botton-box{
            width: 75%;
            margin-left:12% ;
        }
    .logo{
        padding-top: 23%;
        width: 108%;
        padding-left: 1.5%;
        position: relative;
    }
    .form-box{
        width: 88%;
        height: 80%;
        top: 60%;
        left: 50%;
       
    }
    .input-group{
       margin-left:5%;
    }
}
